<%#
redmine-plugin-work-report-exporter
Copyright (C) 2022  ClearCode Inc.
Copyright (C) 2024  Sutou Kouhei <kou@clear-code.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<%= field_set_tag l("work_report_exporter.label.caption_default_value") do %>
    <p><%= label_tag("settings[company_name_default_value]",
                     l("work_report_exporter.label.custom_field_name.company_name")) %>
       <%= text_field_tag("settings[company_name_default_value]",
                          settings.company_name_default_value) %></p>
    <p><%= label_tag("settings[company_title_default_value]",
                     l("work_report_exporter.label.custom_field_name.company_title")) %>
       <%= text_field_tag("settings[company_title_default_value]",
                          settings.company_title_default_value) %></p>
    <p><%= label_tag("settings[provider_name_default_value]",
                     l("work_report_exporter.label.custom_field_name.provider_name")) %>
       <%= text_field_tag("settings[provider_name_default_value]",
                          settings.provider_name_default_value) %></p>

    <p><%= label_tag("settings[comment_sanitizer_default_value]",
                     l("work_report_exporter.label.custom_field_name.comment_sanitizer")) %>
       <%= text_field_tag("settings[comment_sanitizer_default_value]",
                          settings.comment_sanitizer_default_value) %></p>

    <hr>

    <p><%= label_tag("settings[contract_id_default_value]",
                     l("work_report_exporter.label.custom_field_name.contract_id")) %>
       <%= text_field_tag("settings[contract_id_default_value]",
                          settings.contract_id_default_value) %></p>

    <p><%= label_tag("settings[sheet_name_default_value]",
                     l("work_report_exporter.label.custom_field_name.sheet_name")) %>
       <%= text_field_tag("settings[sheet_name_default_value]",
                          settings.sheet_name_default_value) %></p>
    <p><%= label_tag("settings[sheet_format_default_value]",
                     l("work_report_exporter.label.custom_field_name.sheet_format")) %>
       <%= select_tag("settings[sheet_format_default_value]",
                      options_for_select(["summarized", "detailed"],
                                         settings.sheet_format_default_value)) %></p>

    <p><%= label_tag("settings[service_title_default_value]",
                     l("work_report_exporter.label.custom_field_name.service_title")) %>
       <%= text_field_tag("settings[service_title_default_value]",
                          settings.service_title_default_value) %></p>
    <p><%= label_tag("settings[service_type_default_value]",
                     l("work_report_exporter.label.custom_field_name.service_type")) %>
       <%= select_tag("settings[service_type_default_value]",
                      options_for_select(["support", "development"],
                                         settings.service_type_default_value)) %></p>

    <p><%= label_tag("settings[contract_start_date_default_value]",
                     l("work_report_exporter.label.custom_field_name.contract_start_date")) %>
       <%= date_field_tag("settings[contract_start_date_default_value]",
                          settings.contract_start_date_default_value) %></p>
    <p><%= label_tag("settings[count_start_date_default_value]",
                     l("work_report_exporter.label.custom_field_name.count_start_date")) %>
       <%= date_field_tag("settings[count_start_date_default_value]",
                          settings.count_start_date_default_value) %></p>
    <p><%= label_tag("settings[count_style_default_value]",
                     l("work_report_exporter.label.custom_field_name.count_style")) %>
       <%= select_tag("settings[count_style_default_value]",
                      options_for_select(["incident", "hour"],
                                         settings.count_style_default_value)) %></p>
    <p><%= label_tag("settings[detail_count_style_default_value]",
                     l("work_report_exporter.label.custom_field_name.detail_count_style")) %>
       <%= select_tag("settings[detail_count_style_default_value]",
                      options_for_select(["incident", "hour"],
                                         settings.detail_count_style_default_value)) %></p>
    <p><%= label_tag("settings[count_weight_default_value]",
                     l("work_report_exporter.label.custom_field_name.count_weight")) %>
       <%= number_field_tag("settings[count_weight_default_value]",
                            settings.count_weight_default_value,
                            { min: 0, step: 0.01 }) %></p>

    <p><%= label_tag("settings[n_incidents_default_value]",
                     l("work_report_exporter.label.custom_field_name.n_incidents")) %>
       <%= number_field_tag("settings[n_incidents_default_value]",
                            settings.n_incidents_default_value,
                            { min: 0, step: 1 }) %></p>
    <p><%= label_tag("settings[hours_per_incident_default_value]",
                     l("work_report_exporter.label.custom_field_name.hours_per_incident")) %>
       <%= number_field_tag("settings[hours_per_incident_default_value]",
                            settings.hours_per_incident_default_value,
                            { min: 1, step: 1 }) %></p>
<% end %>

<%= field_set_tag l("work_report_exporter.label.custom_field_name.caption_project") do %>
    <p><%= label_tag("settings[company_name_field_name]",
                     l("work_report_exporter.label.custom_field_name.company_name")) %>
       <%= select_tag("settings[company_name_field_name]",
                      options_for_select(WorkReportsSettingsHelper.project_custom_string_field_names,
                                         settings.company_name_field_name)) %></p>
    <p><%= label_tag("settings[company_title_field_name]",
                     l("work_report_exporter.label.custom_field_name.company_title")) %>
       <%= select_tag("settings[company_title_field_name]",
                      options_for_select(WorkReportsSettingsHelper.project_custom_string_field_names,
                                         settings.company_title_field_name)) %></p>
    <p><%= label_tag("settings[provider_name_field_name]",
                     l("work_report_exporter.label.custom_field_name.provider_name")) %>
       <%= select_tag("settings[provider_name_field_name]",
                      options_for_select(WorkReportsSettingsHelper.project_custom_string_field_names,
                                         settings.provider_name_field_name)) %></p>

    <p><%= label_tag("settings[comment_sanitizer_field_name]",
                     l("work_report_exporter.label.custom_field_name.comment_sanitizer")) %>
       <%= select_tag("settings[comment_sanitizer_field_name]",
                      options_for_select(WorkReportsSettingsHelper.project_custom_string_field_names,
                                         settings.comment_sanitizer_field_name)) %></p>
<% end %>

<%= field_set_tag l("work_report_exporter.label.custom_field_name.caption_version") do %>
    <p><%= label_tag("settings[contract_id_field_name]",
                     l("work_report_exporter.label.custom_field_name.contract_id")) %>
       <%= select_tag("settings[contract_id_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_string_field_names,
                                         settings.contract_id_field_name)) %></p>

    <p><%= label_tag("settings[sheet_name_field_name]",
                     l("work_report_exporter.label.custom_field_name.sheet_name")) %>
       <%= select_tag("settings[sheet_name_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_string_field_names,
                                         settings.sheet_name_field_name)) %></p>
    <p><%= label_tag("settings[sheet_format_field_name]",
                     l("work_report_exporter.label.custom_field_name.sheet_format")) %>
       <%= select_tag("settings[sheet_format_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_list_field_names,
                                         settings.sheet_format_field_name)) %></p>

    <p><%= label_tag("settings[service_title_field_name]",
                     l("work_report_exporter.label.custom_field_name.service_title")) %>
       <%= select_tag("settings[service_title_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_string_field_names,
                                         settings.service_title_field_name)) %></p>
    <p><%= label_tag("settings[service_type_field_name]",
                     l("work_report_exporter.label.custom_field_name.service_type")) %>
       <%= select_tag("settings[service_type_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_list_field_names,
                                         settings.service_type_field_name)) %></p>

    <p><%= label_tag("settings[contract_start_date_field_name]",
                     l("work_report_exporter.label.custom_field_name.contract_start_date")) %>
       <%= select_tag("settings[contract_start_date_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_date_field_names,
                                         settings.contract_start_date_field_name)) %></p>
    <p><%= label_tag("settings[count_start_date_field_name]",
                     l("work_report_exporter.label.custom_field_name.count_start_date")) %>
       <%= select_tag("settings[count_start_date_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_date_field_names,
                                         settings.count_start_date_field_name)) %></p>

    <p><%= label_tag("settings[count_style_field_name]",
                     l("work_report_exporter.label.custom_field_name.count_style")) %>
       <%= select_tag("settings[count_style_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_list_field_names,
                                         settings.count_style_field_name)) %></p>
    <p><%= label_tag("settings[detail_count_style_field_name]",
                     l("work_report_exporter.label.custom_field_name.detail_count_style")) %>
       <%= select_tag("settings[detail_count_style_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_list_field_names,
                                         settings.detail_count_style_field_name)) %></p>
    <p><%= label_tag("settings[count_weight_field_name]",
                     l("work_report_exporter.label.custom_field_name.count_weight")) %>
       <%= select_tag("settings[count_weight_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_float_field_names,
                                         settings.count_weight_field_name)) %></p>

    <p><%= label_tag("settings[n_incidents_field_name]",
                     l("work_report_exporter.label.custom_field_name.n_incidents")) %>
       <%= select_tag("settings[n_incidents_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_int_field_names,
                                         settings.n_incidents_field_name)) %></p>

    <p><%= label_tag("settings[hours_per_incident_field_name]",
                     l("work_report_exporter.label.custom_field_name.hours_per_incident")) %>
       <%= select_tag("settings[hours_per_incident_field_name]",
                      options_for_select(WorkReportsSettingsHelper.version_custom_int_field_names,
                                         settings.hours_per_incident_field_name)) %></p>
<% end %>
